body {
    background: linear-gradient(to right, rgb(238, 156, 167), rgb(255, 221, 225));
    text-align: center;
    font-family: cursive;
}
h1 {
    margin-top: 100px;
    font-size: 50px;
}
form {
    background-color: white;
    padding: 10px;
    margin: 0px 450px;
    border-radius: 10px;
    opacity: 80%;
    border-top: 5px solid #000000;
}
input:hover {
    cursor: pointer;
}
.search {
    padding: 10px 100px;
    border-radius: 10px;
    border: 2px solid #EEC3B0;
}
.submit {
    padding: 10px 20px;
    background-color: #EEC3B0;
    border-radius: 10px;
    border: none;
}
.examples {
    font-size: 10px;
    font-weight: bolder;
    color: #EEC3B0;
    text-align: center;
}
main {
    background-color: white;
    padding: 10px;
    margin: 20px 450px;
    border-radius: 10px;
    opacity: 80%;
    border-top: 5px solid #000000;
    font-size: 15px;
    font-style: italic;
    font-weight: 400px;
}
a {
    text-decoration: none;
}
footer {
    margin-top: 200px;
}